
/* <!-- cabelalho-botão -->
<!-- mdsocial -->
<!-- cabedalho -->
<!-- tituloHome -->
<!-- menu --> */
h1 {
    position: relative;
    width: 600px;
    color: rgb(255, 255, 255);
    font-size: 50px;
    left: 800px;
    top: 230px;

}
body{
    height: 100vh;
    background-color: #112115;
}
*{
    font-family: 'Poppins', sans-serif;
}

.secCentral{
    height: 849px;
    width: 2201px;
}

.divCentralProjeto{
    position: relative;
    height: 650px;
    width: 800px;
    top: 200px;
    left: 50px;
}
.divCentralProjeto h1{
    left: 210px;
    text-align: center;
    top: 0px;
    left: 166px
}
.divCentralProjeto h3 {
        position: relative;
        color: #ffffff;
        font-style: oblique;
        margin-left: 300px;
    }
.divCentralProjeto img{
    position: relative;
    left: 300px;
    bottom: 0px;
    top: 49px;
}
.pCentral{
    position: relative;
    color: #ffffff;
    height: 250px;
    width: 350px;
    margin-left: 700px;
    top: -464px;
    font-size: larger;
}
main{
    position:relative;
    height: 400px;
    width: 400px;
}  
.maincontato{
    height: 800px;
}
.tituloContato{
    margin-left: 5%;   
}
fieldset{
    border: 0;
}
input, textarea, button{
    border-radius: 5px;
}

.campoContato{
    position: relative;
    margin-bottom: 1em;
    
}
.campoContato label{
    margin-bottom: 0.2em;
    color: #ffffff;
    display: block;
    font-style: oblique;

}
fieldset.grupoContato .campoContato{
    float: left;
    margin-right: 1em;
}
.campoContato input[type="text"], .campoContato input [type="email"] .campoContato textarea{
    padding: 0.2em;
    border: 1px solid #82FFA1;
    box-shadow: 2px 2px 2px #112115;
    display: block
}
.campoContato input:focus, .campoContato textarea:focus{
    background: #ffffff;
}
.divCentral{
    position: absolute;
    width: 300px;
    height: 400px;
    display: inline;
}
.divfomulario{
    position: relative;
    left: 822px;
    bottom: -315px;
    
}

.btnContato{
    font-size: 1.2em;
    background: #2ac851;
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px #82FFA1;
    text-shadow: 1px 1px 1px #112115;
    position: absolute;
    top: 110%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.btnContato:hover{
    background: #82FFA1;
    box-shadow: #114F20;
    text-shadow: none;
}
.divbio{
    position: relative;
    height: 300px;
    width: 300px;
    border-color: #114F20;
}
.textoBio{
    width: 662px;
    padding: 30px;
    position: absolute;
    color: #ffffff;
    left: 773px;
    font-size: 40px;
    bottom: 53px;
    font-style: oblique
}
.btn {
    position: absolute;
    padding: 10px;
    color: #ffffff;
    background: #2AC851;
    border: 1px solid #0A140D;
    border-radius: 6px;
    text-align: center;
    user-select: none;
    cursor: pointer;
    box-shadow: 2px 2px 2px #0A140D;
    left: 1500px;
    width: 200px;
    font-size: 16px;
  
}
.btn a{
    text-decoration: none;
    color: #ffffff;
    padding: 35px;
}
.btn:hover {
    background: #82FFA1;
    transition: 0.3s;
}
.btnJogueAgora {
    position: relative;
    padding: 10px;
    color: #ffffff;
    background: #2AC851;
    border: 1px solid #0A140D;
    border-radius: 6px;
    text-align: center;
    user-select: none;
    cursor: pointer;
    box-shadow: 2px 2px 2px #0A140D;
    left: 1500px;
    width: 200px;
    font-size: 16px;
    top: -577px;
    left: 702px;
}
.btnJogueAgora a{
    text-decoration: none;
    color: #ffffff;
    padding: 35px;
}

.btnJogueAgora:hover{
    background: #82FFA1;
    transition: 0.3s;
}
.fotoId2{
    position:absolute;
    right: -300px;
    bottom: -250px;
    text-align: center;
}
header{
    position: fixed;
    width: 100%;
    background-color: #2AC851;
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 20px 0;
}

.menu li{
    display: inline-block;
    margin: 0 10px;
    font-size: 13px;
}
.menu li a{
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    padding: 10px 30px;
   
}
.menu ul :hover{
    color: #114F20;
}
.menu ul :active{
    color: #82FFA1;
}
*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
footer{
    position: fixed;
    bottom: 0px;
    background-color: #0A140D;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #ffffff;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer h3{
    font-size: 1.3rem;
    font-weight: 300;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer p{
    max-width: 700px;
    margin: 9px auto;
    line-height: 20px;
}
.MDsocial{
    list-style: noene;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: rem 50 rem 0;
}
.MDsocial li {
    margin: 0 20px;
}
.MDsocial a {
 text-decoration: none;
 color: #ffffff;
}
.MDsocial a i{
 font-size: 1.1rem;
 margin: 3px;
}
.MDsocial a:hover i{
    color:#82FFA1;
}

.footer-copy{
background: #0A140D;
width: 100 pw;
padding: 20px 0;
text-align: center;
}
.footer-copy p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-copy span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
.tituloHome{
margin: auto;
color: #ffffff;
text-align: center;
}
.imgfotografia{
    margin-right: 10px;
}
.imgps{
    margin-right: 10px;
}
.imai{
    margin-right: 10px;
}
.imgsenac{
    margin-right: 10px;
}
.imgudemy{
    margin-right: 10px;
}